<% include ./partials/header %>

<div class="row">
    <div class="col-md-12">
      <form class="form-signin" action="/login" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
        <label for="inputFirstName" class="sr-only">First Name</label>
        <input type="text" id="inputFirstName" name="firstName" class="form-control" placeholder="first name">
        <label for="inputLastName" class="sr-only">Last Name</label>
        <input type="text" id="inputLastName" name="lastName" class="form-control" placeholder="last name">
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="email">
        <label for="inputAvatar" class="sr-only">Avatar</label>
        <input type="text" id="inputAvatar" name="avatar" class="form-control" placeholder="avatar url">
        <label for="inputAdminCode" class="sr-only">Admin Code</label>
        <input type="text" id="inputAdminCode" name="adminCode" class="form-control" placeholder="Admin code">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up!</button>
      </form>
      <div class="form-signin">
        <a href="/campgrounds">Go Back</a>
      </div>
    </div>
</div>

<% include ./partials/footer %>
